[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
dj-rest-auth = "*"
djangorestframework-simplejwt = "*"
django-environ = "*"
django-cors-headers = "*"
requests = "*"
cryptography = "*"
pytest = "*"
pytest-django = "*"

[dev-packages]

[requires]
python_version = "3.13"
